[submodule "home/.config/nvim/bundle/vim-pathogen"]
	path = home/.config/nvim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.config/nvim/bundle/buftabs"]
	path = home/.config/nvim/bundle/buftabs
	url = git://github.com/vim-scripts/buftabs.git
[submodule "home/.config/nvim/bundle/Jinja"]
	path = home/.config/nvim/bundle/Jinja
	url = git://github.com/vim-scripts/Jinja.git
[submodule "home/.config/nvim/bundle/nerdcommenter"]
	path = home/.config/nvim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.config/nvim/bundle/vim-easymotion"]
	path = home/.config/nvim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.config/nvim/bundle/vim-less"]
	path = home/.config/nvim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "home/.config/nvim/bundle/supertab"]
	path = home/.config/nvim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.config/nvim/bundle/vim-fugitive"]
	path = home/.config/nvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.config/nvim/bundle/jedi-vim"]
	path = home/.config/nvim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "home/.config/nvim/bundle/todo.txt"]
	path = home/.config/nvim/bundle/todo.txt
	url = git://github.com/freitass/todo.txt-vim.git
[submodule "home/.config/nvim/bundle/vim-python-combined"]
	path = home/.config/nvim/bundle/vim-python-combined
	url = git://github.com/mitsuhiko/vim-python-combined.git
[submodule "home/.config/nvim/bundle/vim-python-pep8-indent"]
	path = home/.config/nvim/bundle/vim-python-pep8-indent
	url = git://github.com/hynek/vim-python-pep8-indent.git
[submodule "home/.config/nvim/bundle/riv.vim"]
	path = home/.config/nvim/bundle/riv.vim
	url = https://github.com/Rykka/riv.vim
[submodule "home/.config/nvim/bundle/syntastic"]
	path = home/.config/nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.config/nvim/bundle/vim-colors-base16"]
	path = home/.config/nvim/bundle/vim-colors-base16
	url = https://github.com/chriskempson/base16-vim
[submodule "home/.config/nvim/bundle/vim-icalendar"]
	path = home/.config/nvim/bundle/vim-icalendar
	url = https://github.com/vim-scripts/icalendar.vim
[submodule "home/.config/nvim/bundle/rust"]
	path = home/.config/nvim/bundle/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "home/.config/nvim/bundle/vim-javascript"]
	path = home/.config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.config/nvim/bundle/vim-mustache-handlebars"]
	path = home/.config/nvim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "home/.config/nvim/bundle/vim-racer"]
	path = home/.config/nvim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "home/.config/nvim/bundle/vim-smali"]
	path = home/.config/nvim/bundle/vim-smali
	url = https://github.com/kelwin/vim-smali
[submodule "home/.config/nvim/bundle/deoplete"]
	path = home/.config/nvim/bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule "home/.config/nvim/bundle/languageclient-neovim"]
	path = home/.config/nvim/bundle/languageclient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
