[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/buftabs"]
	path = home/.vim/bundle/buftabs
	url = git://github.com/vim-scripts/buftabs.git
[submodule "home/.vim/bundle/Jinja"]
	path = home/.vim/bundle/Jinja
	url = git://github.com/vim-scripts/Jinja.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/pythoncomplete"]
	path = home/.vim/bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/jedi-vim"]
	path = home/.vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "home/.vim/bundle/javacomplete"]
	path = home/.vim/bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
[submodule "home/.vim/bundle/todo.txt"]
	path = home/.vim/bundle/todo.txt
	url = git://github.com/freitass/todo.txt-vim.git
[submodule "home/.vim/bundle/vim-python-combined"]
	path = home/.vim/bundle/vim-python-combined
	url = git://github.com/mitsuhiko/vim-python-combined.git
[submodule "home/.vim/bundle/vim-python-pep8-indent"]
	path = home/.vim/bundle/vim-python-pep8-indent
	url = git://github.com/hynek/vim-python-pep8-indent.git
[submodule "home/.vim/bundle/riv.vim"]
	path = home/.vim/bundle/riv.vim
	url = https://github.com/Rykka/riv.vim
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.dotfiledata/base16_xresources"]
	path = home/.dotfiledata/base16_xresources
	url = https://github.com/chriskempson/base16-xresources
[submodule "home/.vim/bundle/vim-colors-base16"]
	path = home/.vim/bundle/vim-colors-base16
	url = https://github.com/chriskempson/base16-vim
[submodule "home/.vim/bundle/rust"]
	path = home/.vim/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "home/.scripts/selecta"]
	path = home/.scripts/selecta
	url = https://github.com/garybernhardt/selecta.git
[submodule "home/.vim/bundle/vim-icalendar"]
	path = home/.vim/bundle/vim-icalendar
	url = https://github.com/vim-scripts/icalendar.vim
