[user]
    email = markus@unterwaditzer.net
    name = Markus Unterwaditzer
    signingkey = FAAC788C
[core]
    attributesfile = ~/.gitattributes
[color]
    ui = true
[github]
    user = untitaker
[format]
    pretty = %Cred%h%Cblue %an %Cgreen%cr%C(yellow)%d\n        %s
[alias]
    # hub: When cloning git repos with sth like "git clone untitaker/dotfiles",
    # always add the ssh url as origin
    clone = clone -p
    p = push
    pf = push -f
    pr = pull-request
    pl = pull
    cp = cherry-pick
    
    fix = commit --amend
    undo = reset --hard HEAD^
    stat = status
    s = status
    sub = submodule
    cd = checkout
    b = branch
    c = commit -v
    lg = log
    ca = commit -va
    cm = commit -vm
    cam = commit -vam
    bump = !"git checkout $1;git rebase master"
    # rebase all the branches
    mbump = !git_mbump
    # remove a submodule... not even sure this works.
    rm-sub = !git_rm-sub
    # recursively execute a bash command on repo, its submodules and submodules of submodules
    resub = "!f(){ \"$@\"; git sub foreach git resub \"$@\"; }; f"
    # push each commit separately
    map-commits = "!f() { git rev-list --reverse master..HEAD | while read c; do git reset --hard $c; \"$@\"; done }; f"
[push]
    # old name of upstream, for compat
    default = tracking
[help]
    autocorrect = 5
[diff "diffpdf"]
    command = diffpdf
