Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       subpixel
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.font: DejaVu Sans 8
Xcursor.theme: Vanilla-DMZ-AA

! dzen2
dzen2.font: -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
dzen2.background: #000

! terminal ------------------------------------------------------------
URxvt.font: xft:Source Code Pro:size=10
URxvt.scrollBar: none
URxvt.perl-ext-common: default,matcher,url-picker
URxvt.keysym.C-y: perl:url-picker
URxvt.urlLauncher: xdg-open
URxvt.matcher.button: 1

URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 0
